/*Navigation bar styles*/
nav {
	background-color:rgb(150,150,150);
	position: fixed;
	left:0;
	top:0;
	width:100%;
}

nav:after {
	content:"";
	display:block;
	clear:both;
}
nav .nav_item:hover {
	text-decoration:none;
	color:#fff;
	background:rgb(75,75,75);
}
nav .nav_item:active {
	text-decoration:none;
	color:#fff;
	background: #000;
}
nav .nav_item{
	text-decoration:none;
	display:block;
	float:left;
	padding:2px;
	color:#000;
	padding: 10px 10px;
	font-size:18px;
}

/* Some other styles*/
body {
	margin-left:30px;
	margin-right:30px;
	font-family:arial;
}

#wrapper {
	text-align: center;
}
.errorbox {
	background:#ffcccc;
	border: solid 2px #f00;
	border-radius:5px;
	text-align:center;
	font-size: 15px;
	width:50%;
	padding: 5px;
	margin:3px;
}

.msgbox {
	background:#ccffb3;
	border: solid 2px #0f0;
	border-radius:5px;
	text-align: center;
	font-size:15px;
	width:50%;
	padding:5px;
	margin:3px;
}

/*form styles*/
.form {
	float:left;
}

.inputs {
	text-align: left;
	width:49%;
	padding-left:1%;
}

.labels {
	text-align:right; 
	width:49%;
	padding-right:1%;
}

#submit {
	width:85px;
	height: 30px;
	font-size:16px;
	text-transform:capitalize;
	color: #fff;
	background-color: #1010bb;
	border-style:solid;
	border-radius: 15px;
	border-width: 0px;
	margin-top: 5px;
}


#submit:active {
	width:85px;
	height: 30px;
	font-size:16px;
	text-transform:capitalize;
	color: #fff;
	background-color: #00f;
	border-style:solid;
	border-radius: 15px;
	border-width: 2px;
	border-color:#00009f;
	margin-top: 5px;
}

/* dashboard display*/
.displayItem {
	float:left;
	width:45%;
	margin:0.4%;
	padding:2%;
	padding-top:8px;
	border:solid gray 1px;
	box-shadow:5px 5px 3px gray;
	border-radius: 5px;
}


#displayContainer:after {
	content:"";
	display:block;
	clear:both;
}
#displayContainer {
	display:block;
}
.normal {
	background-color:#AAFFAA;
}
.warning {
	background-color:#f7f702;
}
.overdue {
	background-color:#f76662;
}
/*table styling*/
.even {
	bacolor:#fff;
}
.odd {
	background-color:#aaffaa;
}
table {
	width:100%;
	border-collapse:collapse;
}
td {
	padding-left:10px;
	padding-top:7px;
	padding-bottom:7px;
	border:solid 1px #fff;
	font-size:14px;
	font-weight:500;
}
th:first-child {
	border-top-left-radius:10px;
}
th {
	background-color:#00FF00;
	text-align: left;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}
th:last-child {
	border-top-right-radius:10px;
}
